App {
  text-align: center;
  background-color:rgb(225, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
     /* rgba(100, 115, 255, 1) 0%*/
    );
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 520px;
    min-height: 650px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 4px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 12px 34px 11px 14px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #758298;
    outline: none;
    width: 70%;
    background: transparent;
    color: #758298;
    margin-left: 4%;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }

  .todo-button {
    width: 20%;
    padding: 13px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      #758298 0%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #758298;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      #758298 0%
    );
    padding: 13px 14px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      #758298 0%
    );
  
    padding: 2px;
    border-radius: 4px;
    width: 91%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      #758298 0%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      #758298 0%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      #758298 0%
    );
  }
  
  .icons {

    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-left: auto;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
    margin-left: auto;
  }